vim/tmp
vim/.DS_Store
vim/.netrwhist
vim/vim.symlink/.DS_Store
vim/vim.symlink/.netrwhist
vim/vim.symlink/plugged

config/config.symlink/fish/fish_history
config/fish_read_history
config/config.symlink/fish/fishd.*

config/config.symlink/yarn
config/config.symlink/configstore
config/config.symlink/karabiner
